<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <div class="brand-list">
                        <%= image_tag('brand1.png') %>
                        <%= image_tag('brand2.png') %>
                        <%= image_tag('brand3.png') %>
                        <%= image_tag('brand4.jpg') %>
                        <%= image_tag('brand5.jpg') %>
                        <%= image_tag('brand6.png') %>
                        <%= image_tag('brand7.png') %>
                        <%= image_tag('brand8.png') %>
                        <%= image_tag('brand9.jpg') %>
                        <%= image_tag('brand10.png') %>
                        <%= image_tag('brand11.jpg') %>
                        <%= image_tag('brand12.png') %>
                        <%= image_tag('brand13.jpg') %>
                        <%= image_tag('brand14.png') %>
                        <%= image_tag('brand15.png') %>
                        <%= image_tag('brand16.png') %>
                        <%= image_tag('brand17.png') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
