<head data-hook="inside_head">
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
  <%== meta_data_tags %>
  <%= canonical_tag(current_store.url) %>
  <%= favicon_link_tag 'favicon.jpg' %>
  <%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "font-awesome.min" %>
  <%= stylesheet_link_tag "owl.carousel" %>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "responsive" %>

  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'spree/frontend/all' %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
  <![endif]-->
  <%= yield :head %>
</head>
